@keyframes slideDown {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-50px);
    }
    60% {
        transform: translateX(-15px);
    }
}

.pesan {
    animation: bounce 1.5s ease-in;
    position: fixed;
    top: 55px;
    right: 0;
}
